<div class='country style'>
  <img src='{{this.flags.svg}}' height='40' width='60' class='flag_country' />
  <p class='name_country'>{{this.name.official}}</p>
</div>
<p><b>Capital</b>: {{this.capital}}</p>
<p><b>Population</b>: {{this.population}}</p>
<p><b>Languages</b>: {{this.languages}}</p>